NUXT_ENV="production" # development, production
DATABASE_URL="postgresql://postgres:123456@localhost:5432/jimily?schema=public"

NUXT_APP_VERSION="5.0.0"
NUXT_DATA_PATH="E:/Code/cashbook/data"

NUXT_AUTH_SECRET="auth123"