NUXT_ENV="production" # development, production
DATABASE_URL="postgresql://postgres:123456@localhost:5432/jimily?schema=public"
#DATABASE_URL="postgresql://postgres:123456@localhost:5432/cashbook5?schema=public"
#DATABASE_URL="postgresql://postgres:LodenHu&PgSqL_2025@43.133.166.111:14325/cashbook5?schema=public"
#DATABASE_URL="postgresql://postgres:LodenHu&PgSqL_2025@43.133.166.111:14325/cashbook5?schema=public"

NUXT_APP_VERSION="5.0.0"
NUXT_DATA_PATH="E:/Code/cashbook/data"

NUXT_AUTH_SECRET="auth123"